img {
  width: 150px;
  height: 150px;
}

.table__heroes {
  .title {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    font-size: 100px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .search {
    display: flex;
    justify-content: center;
    padding: 50px;
    input {
      height: 50px;
      width: 1000px;
      font-size: 45px;
    }

    button{
      width: 100px;
      height: 58px;
      transform: translate(16px, -10px);
    }
  }
  .heroes__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .all__heroe__container {
      display: flex;
      flex-direction: column;
      width: min-content;

      .subtitle{
        font-size: 40px;
        font-family: Georgia, "Times New Roman", Times, serif;
      }

      .heroes {
        display: flex;
        flex-direction: row;
        font-family: Georgia, "Times New Roman", Times, serif;

        .heroes__image {
          display: flex;
          flex-direction: column;
        }

        .heroe__info {
          padding: 40px 20px;
          display: flex;
          flex-direction: column;

          .heroe__supername {
            font-size: 40px;
          }

          .heroe__realname {
            font-size: 20px;
          }

          .heroe__fly {
            font-size: 20px;
          }
        }
      }
    }
    .one__hero__container {
      display: flex;
      flex-direction: column;

      .subtitle{
        font-size: 40px;
        font-family: Georgia, "Times New Roman", Times, serif;
      }

      .heroes {
        display: flex;
        flex-direction: row;
        font-family: Georgia, "Times New Roman", Times, serif;

        .heroes__image {
          display: flex;
          flex-direction: column;
        }

        .heroe__info {
          padding: 40px 20px;
          display: flex;
          flex-direction: column;

          .heroe__supername {
            font-size: 40px;
          }

          .heroe__realname {
            font-size: 20px;
          }

          .heroe__fly {
            font-size: 20px;
          }
        }
      }
    }
    .all__flying__heroe__container {
      display: flex;
      flex-direction: column;

      .subtitle{
        font-size: 40px;
        font-family: Georgia, "Times New Roman", Times, serif;
      }

      .heroes {
        display: flex;
        flex-direction: row;
        font-family: Georgia, "Times New Roman", Times, serif;

        .heroes__image {
          display: flex;
          flex-direction: column;
        }

        .heroe__info {
          padding: 40px 20px;
          display: flex;
          flex-direction: column;

          .heroe__supername {
            font-size: 40px;
          }

          .heroe__realname {
            font-size: 20px;
          }
        }
      }
    }
  }
}
