<div class="table__heroes">
  <div class="title"> Superhéroes </div>
  <div class="search">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" #name [(ngModel)]="searchText" (keyup.enter)="filterArray(name.value)" nz-input placeholder="Busca tus heroes favoritos!"/>
      <button (click)="filterArray(name.value)"> Busqueda </button>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <div class="heroes__container">
    <div class="all__heroe__container">
      <div class="subtitle">Total de heroes: </div>
      <div class="heroes" *ngFor="let hero of filteredArray">
        <div class="heroe__image">
          <img src="{{hero.avatarURL}}" alt="Foto-de-heroe" onError="this.src='../../assets/no-image.png'">
        </div>
        <div class="heroe__info">
          <div class="heroe__supername">
            {{hero.nombre}}
          </div>
          <div class="heroe__realname">
            {{hero.nombreReal}}
          </div>
          <div class="heroe__fly">
            {{hero.puedeVolar ? 'Puede volar' : 'No Puede Volar'}}
          </div>
        </div>
      </div>
    </div>
    <div class="one__hero__container">
      <div class="subtitle">Heroe numero 1: </div>
      <div class="heroe__one" *ngIf="hero">
        <div class="heroes">
          <div class="heroe__image">
            <img src="{{hero.avatarURL}}" alt="Foto-de-heroe" onError="this.src='../../assets/no-image.png'">
          </div>
          <div class="heroe__info">
            <div class="heroe__supername">
              {{hero.nombre}}
            </div>
            <div class="heroe__realname">
              {{hero.nombreReal}}
            </div>
            <div class="heroe__fly">
              {{hero.puedeVolar ? 'Puede volar' : 'No Puede Volar'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all__flying__heroe__container">
      <div class="subtitle">Total de heroes voladores: </div>
      <div class="heroes" *ngFor="let hero of heroes">
        <div class="heroe__image" *ngIf="hero.puedeVolar === true">
          <img src="{{hero.avatarURL}}" alt="Foto-de-heroe" onError="this.src='../../assets/no-image.png'">
        </div>
        <div class="heroe__info" *ngIf="hero.puedeVolar === true">
          <div class="heroe__supername">
            {{hero.nombre}}
          </div>
          <div class="heroe__realname">
            {{hero.nombreReal}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
